# Introduction to Python

## Variables

Type of the variables:


*   Text/String ("Mariia")
*   Integer (1)
*   Float (1.2)
*   Boolean (1 or 0, True or False)

In [ ]:
name ="Lisa"

In [ ]:
type(name)

str

In [ ]:
print(name)

mariia

In [ ]:
print(name.title())
print(name.lower())
print(name.upper())

Mariia
mariia
MARIIA

In [ ]:
age = 23

In [ ]:
type(age)

int

In [ ]:
print(age)

23

In [ ]:
surname = "Adams"

In [ ]:
fullName= name+surname

In [ ]:
print(fullName)

mariiaAdams

In [ ]:
fullName= name.title() + " " + surname

In [ ]:
nameage= name + str(age)

In [ ]:
nameage

'mariia23'

## Operations with Python

### +-*/

In [ ]:
3+5 #Addition

8

In [ ]:
5-2 #Substaction

3

In [ ]:
3*2 #Multiplication

6

In [ ]:
10/2 #Division

5.0

In [ ]:
3+5*2 #Python follows the operational rules

13

### Power

In [ ]:
3**2 #3 power 2

9

### Reminders

In [ ]:
10%2 #What is the remainder after division to 2

0

In [ ]:
11%2

1

### Middle Value

In [ ]:
21/11

1.9090909090909092

In [ ]:
round(21/11 )

2

In [ ]:
21//11 #What is the next integer to the float

1

In [ ]:
int(21/11)

1

## Lists

You can put anything you want into a list, and the items in your list don’t have to be related in any particular way. Because
a list usually contains more than one element, it’s a good idea to make the
name of your list plural, such as letters, digits, or names.

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']

In [ ]:
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

### Accessing Elements in a List

In [ ]:
print(bicycles[0]) #or bicycles[0]

trek

In [ ]:
print("My first bike was " + bicycles[2]) #You can access to the list also within specific context

My first bike was redline

### Modifying Elements in a List

In [ ]:
name= 'John'

In [ ]:
print(name)

John

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']

print(motorcycles)
motorcycles[0] = 'ducati'
print(motorcycles)

['honda', 'yamaha', 'suzuki']
['ducati', 'yamaha', 'suzuki']

In [ ]:
motorcycles[0] = motorcycles[0].title()

In [ ]:
print(motorcycles)

['Ducati', 'yamaha', 'suzuki']

### Adding Elements to a List

When you append an item to a list, the new element is added to the end
of the list.

In [ ]:
motorcycles.append('harley')
print(motorcycles)

['Ducati', 'yamaha', 'suzuki', 'harley']

You can add a new element at any position in your list by using the insert()
method. You do this by specifying the index of the new element and the
value of the new item.

In [ ]:
motorcycles.insert(0, 'BMW')
print(motorcycles)

['BMW', 'Ducati', 'yamaha', 'suzuki', 'harley']

### Removing Elements from a List

del method removes the element in indicated index

In [ ]:
del motorcycles[1]
print(motorcycles)

['BMW', 'yamaha', 'suzuki', 'harley']

The pop() method removes the last item in a list,

In [ ]:
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['BMW', 'yamaha', 'suzuki']
harley

You can actually use pop() to remove an item in a list at any position by
including the index of the item you want to remove in parentheses.

In [ ]:
first_owned = motorcycles.pop(0)
print('The first motorcycle I owned was a ' + first_owned.title() + '.')

The first motorcycle I owned was a Bmw.

### Removing an Item by Value

In [ ]:
motorcycles.remove('suzuki')
print(motorcycles)

['BMW', 'yamaha', 'harley']

In [ ]:
sold_moto = 'yamaha'
motorcycles.remove(sold_moto)
print(motorcycles)

['harley']

The remove() method deletes only the first occurrence of the value you specify. If there’s
a possibility the value appears more than once in the list, you’ll need to use a loop to
determine if all occurrences of the value have been removed.

## Working with Numbers

In [ ]:
numbers = [5, 2, 9, 1, 7, 3, 8]

In [ ]:
type(numbers)

list

### Sorting

In [ ]:
numbers.sort()

In [ ]:
numbers

[1, 2, 3, 5, 7, 8, 9]

### Finding the length

In [ ]:
len(numbers)

7

In [ ]:
length= len(numbers)

### Finding the reminder

In [ ]:
length%2 #If the value is divided to 2 the reminder is 0 otherwise 1

1

## Calculating the mean (average)

Average formula is sum of all numbers divided to the sum of the number of items in a list

In [ ]:
total_sum = sum(numbers)
print(total_sum)

35

In [ ]:
mean = total_sum/length
print(mean)

5.0

In [ ]:
import numpy as np
mean = np.mean(numbers)
print(mean)

5.0

## Calculating the median

Median is a central point. Median is used in order to avoid the sensibility to the outliers. On boxplot the median is a 50% central point.

In [ ]:
numbers = [5, 2, 9, 1, 7, 3, 8]

#numbers= sorted(numbers) #This alternative needs to be assigned to the original list because sorted() creates a temporary sorted list

Step 1 Sort

In [ ]:
numbers.sort()  #step 1 sort the values
print(numbers)

[1, 2, 3, 5, 7, 8, 9]

Step 2: Find the length

In [ ]:
n = len(numbers)

Step 3: Find whether it's odd (1,3,5) or even (2,4,6) using the **if else** function

In [ ]:
if n % 2 == 1:
    print('odd')
else:
   print('even')

odd

Step 4: Find the central value

In [ ]:
if n % 2 == 1:
    # If there is an odd number of elements, the median is the middle value
    median = numbers[n // 2]
else:
    # If there is an even number of elements, the median is the average of the two middle values
    middle1 = numbers[n // 2 - 1]
    middle2 = numbers[n // 2]
    median = (middle1 + middle2) / 2

# Print the median
print("Median:", median)

Median: 1

In [ ]:
numbers = [5, 2, 9, 1, 7, 8]
numbers.sort() #Step 1
n = len(numbers) #Step 2
if n % 2 == 1:  #Step 3
    median = numbers[n // 2]
else:
    middle1 = numbers[n // 2 - 1]
    middle2 = numbers[n // 2]
    median = (middle1 + middle2) / 2
print("Median:", median)

Median: 6.0

In [ ]:
print(numbers)

[1, 2, 5, 7, 8, 9]

In [ ]:
(5+7)/2

6.0

Or you can use numpy library

In [ ]:
median = np.median(numbers)
print("Median:", median)

Median: 5.0

## If Statment

In [ ]:
age= 76

In [ ]:
if age<18:
  print('Not Allowed to drink')
else:
  print('Allowed to drink')

Allowed to drink

In [ ]:
if age<18:
  print('Not Allowed to drink')
elif age>18 and age<75:
  print('Allowed to drink')
else:
  print('not allowed to drink')

not allowed to drink

## For Loop

In [ ]:
cities = ["barcelona", "Los Angeles", "chicago", "Houston", "miami"]

Itering with values

In [ ]:
for i in cities:
    print(i)

barcelona
Los Angeles
chicago
Houston
miami

Itering with index

In [ ]:
for i in range(len(cities)):
    print(cities[i])

barcelona
Los Angeles
chicago
Houston
miami

In [ ]:
for i in range(len(cities)):
    print(f"City at index {i}: {cities[i]}")

City at index 0: barcelona
City at index 1: Los Angeles
City at index 2: chicago
City at index 3: Houston
City at index 4: miami

Ups! Some cities should be corrected and written with capital letters.

In [ ]:
for i in range(len(cities)):
    cities[i] = cities[i].title()

In [ ]:
print(cities)

['Barcelona', 'Los Angeles', 'Chicago', 'Houston', 'Miami']

Creating the logic. You should have a flag which indicates whether you have achieved a result or not.

In [ ]:
city_to_check = "chicago"
found = 0
for city in cities:
    if city == city_to_check:
        found = 1
        break
if found==1:
    print(f"\n{city_to_check} is in the list.")
else:
    print(f"\n{city_to_check} is not in the list.")

chicago is not in the list.

You can also use boolean approach. In this case found as it is means found == True

In [ ]:
city_to_check = "Chicago"
found = False
for city in cities:
    if city == city_to_check:
        found = True
        break
if found:
    print(f"\n{city_to_check} is in the list.")
else:
    print(f"\n{city_to_check} is not in the list.")

Chicago is in the list.

### List Comprehension

In [ ]:
new_list = [i.upper() for i in cities]
print(new_list)

['BARCELONA', 'LOS ANGELES', 'CHICAGO', 'HOUSTON', 'MIAMI']

In [ ]:
for i in range(len(cities)):
  cities[i] = cities[i].upper()
print(cities)

['BARCELONA', 'LOS ANGELES', 'CHICAGO', 'HOUSTON', 'MIAMI']